@model TaskManager.DTO.Task.TaskItemDTO
@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="background m-5 p-5">
        <div class="mb-3">
            <h2>Are you sure you want to delete this?</h2>
            <hr>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.Priority)</p>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="row">
            <div class="col col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="Progress" class="control-label"></label>
                    <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.Progress)</p>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label" id="StartDate"></label>
                    <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.StartDate)</p>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.EndDate)</p>
                </div>
            </div>
            <div class="col col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="CategoriesStr" class="control-label"></label>
                    @*<p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.CategoriesStr)</p>*@
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.Priority)</p>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <p class="form-control bg-grey text-left">@Html.DisplayFor(model => model.Status)</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="submit" value="Delete" class="btn btn-primary btn-lg btn-block" />
            </form>
        </div>
        <div class="text-left">
            <a asp-action="Active">Back to List</a>
        </div>
    </div>
</div>
